/* h Tag fuer den Seitentitel */
.WebYepPageHeading {
	font-size: 2em;
	padding: 0;
	margin-top: 0;
	margin-bottom: 1em;
}

/* h Tag fuer den Blocktitel */
.WebYepBlockHeading {
	font-size: 1.5em;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0.5em;
}

/* div Tag um das linksbuendige Foto */
.WebYepLeftPhoto {
	padding: 10px;
	border: 1px dotted black;
}

/* div Tag um das rechtsbuendige Foto */
.WebYepRightPhoto {
	padding: 10px;
	border: 1px dotted black;
}

/* Der editierbare Text */
.WebYepText {
}

/* p Tag um das Dateianhangs-Element */
.WebYepAttachment {
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	margin: 1em;
	padding: 0.5em;
}

/* Die Beschreibung fuer den Dateianhang */
.WebYepAttachmentDescription {
}

/* Der Dateiname - enthaelt auch den Download-Link */
.WebYepAttachmentFilename {
	padding: 4px;
}

/* div Tag um das zentrierte Foto */
.WebYepCenterPhoto {
}

/* Abstandhalter nach jedem Block */
.WebYepBlockPadding {
}

/* Tabellen innerhalb des Textes koennen mit dem "|"-Zeichen erzeugt werden */
/* Solche Tabellen koennen durch folgende Stile werden */
.WebYepText table {
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
}
.WebYepText td {
	margin: 0px;
	padding: 6px;
	border: 1px solid black;
}

/* Beispiel fuer einen benutzerdefinierten Stil */
.WebYepText .EXAMPLE {
	font-weight: bold;
	color: #bc0000;
}


/* Bildergalerie */

table.WebYepGalleryContainer {
	margin-top: 2em;
	margin-bottom: 2em;
	border-collapse: collapse;
}

table.WebYepGalleryContainer tr {
}

table.WebYepGalleryContainer tr.WebYepGalleryFirstRow {
}

table.WebYepGalleryContainer td {
	text-align: center;
	vertical-align: top;
	border: 1px solid grey;
	padding: 10px;
}

table.WebYepGalleryContainer td.WebYepGalleryFirstColumn {
}

.WebYepGalleryImage img {
	border-left: 1px solid grey;
	border-top: 1px solid grey;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

.WebYepGalleryText {
	margin-top: 1em;
	font-size: 0.8em;
}

/* Seitenleistenmenue */

/* Der div-Tag, der das Menue umschlieszt */
.WebYepMenu {
}

/* Menuetitel */
.WebYepMenu li.WebYepMenuTitle {
	font-weight: bold;
}

/* Normale Menuepunkte */
.WebYepMenu li.WebYepMenuItem {
	font-weight: normal;
}

/* Alle Menuebaume */
.WebYepMenu ul {
	padding: 0px;
}

/* Alle Menuepunkte */
.WebYepMenu ul li {
	list-style-position: inside;
	list-style-type: none;
	font-size: 1em;
	margin: 0px 0px 5px 0px;
	padding: 0px;
	line-height: 1.2em;
}

/* Menuebaeume zweiter Stufe */
.WebYepMenu ul ul {
	margin-bottom: 10px;
}

/* Menuepunkte zweiter Stufe */
.WebYepMenu ul ul li {
	font-size: 0.9em;
	margin: 5px 0px 0px 1em;
	padding: 0px;
}

/* Menuebaeume dritter und tieferer Stufe */
.WebYepMenu ul ul ul {
   font-size: 0.8em;
}

/* Menuepunkte dritter und tieferer Stufe */
.WebYepMenu ul ul ul li {
	font-size: 0.8em;
	margin-left: 2em;
}

/* Der erste Menuepunkt in einem Baum */
.WebYepMenu li li.WebYepMenuFirstItem {
}

/* Die eigentlichen Links */
.WebYepMenu a:link, .WebYepMenu a:visited, .WebYepMenu a:active {
	text-decoration: none;
}

/* Die eigentlichen Links, Mouse-Over */
.WebYepMenu a:hover {
}

/* Der Link des gerade selektierten Menuepunkts */
.WebYepMenu a:link.WebYepMenuCurrentItem, .WebYepMenu a:visited.WebYepMenuCurrentItem, .WebYepMenu a:active.WebYepMenuCurrentItem {
	text-decoration: none;
	color: #7e7e7e;
}

/* Der Link des gerade selektierten Menuepunkts, Mouse-Over */
.WebYepMenu a:hover.WebYepMenuCurrentItem {
	color: #7e7e7e;
}
