<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleShortVersionString</key>
	<string>1.7.2</string>
	<key>CFBundleGetInfoString</key>
	<string>Version 1.7.2
© 2011 Objective Development Software GmbH.  All rights reserved.</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2011 Objective Development Software GmbH.
All rights reserved.</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>WebYep_Large</string>
	<key>CFBundleIdentifier</key>
	<string>at.obdev.WebYepPlugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>10702</string>
	<key>NSPrincipalClass</key>
	<string>WebYepPlugin</string>
	<key>com.realmacsoftware.rapidweaverpro.plugin.apiversion</key>
	<integer>2</integer>
</dict>
</plist>
