body {
  margin:0;
  height:100%;
}

html {
  height:100%;
}

form {
  margin:0;
}

body > form {
  height:100%;
}

img {
  margin:0;
  border-style:none;
}

button {
  margin:0;
  border-style:none;
  padding:0;
  background-color:transparent;
  vertical-align:top;
}

table {
  empty-cells:hide;
}

td {
  padding:0;
}

.f-sp {
  font-size:1px;
  visibility:hidden;
}

.f-lp {
  margin-bottom:0;
}

.f-fp {
  margin-top:0;
}

#logon {
  font:13px Helvetica,Arial,sans-serif;
  text-align:center;
  color:#FFF;
  height:auto;
  width:96px;
  padding:6px;
  border-radius:2px;
  -moz-border-radius:2px;
  -khtml-border-radius:2px;
  -webkit-border-radius:2px;
}

input[type=submit],/* CSS3 attribute-equals selector */
#logon,.resetButtonClass-Name {
  color:#fff;
  transition:all 0.25s ease-in-out;
  -webkit-transition:all 0.25s ease-in-out;
  -moz-transition:all 0.25s ease-in-out;
  background-color:#9C9C9C;
}

input[type=submit]:hover,#logon:hover,.resetButtonClass-Name:hover {
  background-color:#444;
}

input[type=submit]:active,#logon:active,.resetButtonClass-Name:active {
  background-color:#444;
}

input[type=submit]:focus,#logon:focus,.resetButtonClass-Name:focus {
  /* the reset button when focussed by keyboard-navigation */
background-color:#444;
}

.WYhelp {
  color:#b1b1b1;
  font:11px/11px Helvetica,Arial,sans-serif;
  margin-top:0;
  margin-bottom:0.1px;
  text-decoration:none;
}

.WYhelp a {
  color:#b1b1b1;
  text-decoration:none;
  transition:color 0.25s ease-in-out;
  -webkit-transition:color 0.25s ease-in-out;
  -moz-transition:color 0.25s ease-in-out;
}

.WYhelp a:hover {
  color:#9b9b9b;
  text-decoration:none;
}

.WYhelp img {
  float:left;
}

.WYobd-link {
  color:#dcdcdc;
  font:11px/11px Helvetica,Arial,sans-serif;
  margin-top:0;
  margin-bottom:0.1px;
}

.WYobd-link a {
  color:#dcdcdc;
  text-decoration:none;
  transition:color 0.25s ease-in-out;
  -webkit-transition:color 0.25s ease-in-out;
  -moz-transition:color 0.25s ease-in-out;
}

.WYobd-link a:hover {
  color:#c3c3c3;
  text-decoration:none;
}

.WYtextfield input {
  font:12px Helvetica,Arial,sans-serif;
  text-align:left;
  color:#404040;
  background-color:#FFF;
  border:1px solid #6AC7FD;
  height:26px;
  width:148px;
  max-height:26px;
  max-width:148px;
  min-height:26px;
  min-width:148px;
  resize:none;
  padding:0 8px 0px 8px;
  border-radius:3px;
  -moz-border-radius:3px;
  -khtml-border-radius:3px;
  -webkit-border-radius:3px;
  transition:all 0.25s ease-in-out;
  -webkit-transition:all 0.25s ease-in-out;
  -moz-transition:all 0.25s ease-in-out;
  box-shadow:0 0 4px rgba(81,203,238,0);
  -webkit-box-shadow:0 0 4px rgba(81,203,238,0);
  -moz-box-shadow:0 0 4px rgba(81,203,238,0);
}

.WYtextfield input:focus {
  box-shadow:0 0 4px rgba(81,203,238,1);
  -webkit-box-shadow:0 0 4px rgba(81,203,238,1);
  -moz-box-shadow:0 0 4px rgba(81,203,238,1);
  border-color:#58bbf4;
}

.WYwarning {
  color:#bd1434;
  font:11px/11px Helvetica,Arial,sans-serif;
  margin-top:0;
  margin-bottom:0.1px;
}

em {
  font-style:italic;
}

h1 {
  font-weight:bold;
  font-size:18px;
}

h1:first-child {
  margin-top:0;
}

h2 {
  font-weight:bold;
  font-size:16px;
}

h2:first-child {
  margin-top:0;
}

h3 {
  font-weight:bold;
  font-size:14px;
}

h3:first-child {
  margin-top:0;
}

p.WYwarning {
  color:#bd1434;
  font:11px/11px Helvetica,Arial,sans-serif;
  margin-top:0;
  margin-bottom:0.1px;
}

strong {
  font-weight:bold;
}

.WYsimplemodal {
  background-color:#fff;
  font:13px/18px 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

h1.simplemodal {
  color:#404040;
  font-weight:bold;
  font-size:18px;
  line-height:24px;
  margin-top:0;
  padding-top:3px;
}

h1:first-child {
  margin-top:0;
}

.WYvirticalDivider {
  color:#dcdcdc;
  font:18px/28px 'Courier New',Courier;
  text-align:center;
  margin-top:0;
  margin-bottom:0.1px;
}

.WYcenteralign {
  text-align:center;
}

.WYhelpstyle {
  color:#b1b1b1;
  text-transform:uppercase;
  font:11px/11px Helvetica,Arial,sans-serif;
  margin-top:0;
  margin-bottom:0.1px;
}

#PageDiv {
  position:relative;
  max-width:404px;
  min-height:100%;
  margin:auto;
}

#simplemodal {
  position:absolute;
  left:0;
  top:0;
  width:368px;
  min-height:198px;
  z-index:1;
  padding:11px 18px 16px;
  overflow:visible;
}

#WY-simple-modal-header {
  position:absolute;
  left:0;
  top:0;
  width:368px;
  min-height:37px;
  z-index:1;
  padding:11px 18px 0px;
  border-bottom:solid #eee 1px;
  overflow:visible;
}

#webyeplogo {
  position:absolute;
  top:11px;
  right:44px;
  z-index:1;
}

#WYobd-link {
  position:absolute;
  top:55px;
  right:18px;
  z-index:2;
  overflow:visible;
}

#WY-Debug-Message {
  position:absolute;
  left:18px;
  top:55px;
  min-height:11px;
  z-index:3;
}

#formcontainerouter {
  position:absolute;
  left:0;
  top:90px;
  width:404px;
  min-height:60px;
  z-index:4;
  overflow:visible;
}

#formcontainerinner {
  position:relative;
  width:368px;
  min-height:54px;
  z-index:0;
  margin:auto;
  overflow:visible;
}

#username {
  position:relative;
  float:left;
  width:auto;
  min-height:22px;
  z-index:0;
}

#password {
  position:relative;
  float:right;
  width:auto;
  min-height:22px;
  z-index:0;
}

#wy-simple-modal-footer {
  position:relative;
  left:0;
  width:100%;
  bottom:0;
  min-height:44px;
  z-index:5;
  padding-top:14px;
  background-color:#f5f5f5;
  border-top:solid #eee 1px;
  overflow:visible;
  -webkit-box-shadow:inset 0 1px 0 #FFF;
  -moz-box-shadow:inset 0 1px 0 #FFF;
  box-shadow:inset 0 1px 0 #FFF;
}

#logon {
  position:relative;
  border:none;
  cursor:pointer;
  text-shadow:0 1px 0 rgba(0,0,0,0.25);
  letter-spacing:1px;
}

#WYhelp {
  position:absolute;
  right:18px;
  bottom:24px;
  min-height:8px;
  min-width:36px;
  z-index:1;
  overflow:visible;
}

.r_6 {
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
}

.r_0-0-5-5 {
  -webkit-border-radius:0 0px 5px 5px;
  -moz-border-radius:0 0px 5px 5px;
  border-radius:0 0px 5px 5px;
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
}

.WYobd-link {
  position:absolute;
  top:55px;
  right:18px;
  z-index:2;
  overflow:visible;
}

.WYhelp {
  position:absolute;
  right:18px;
  bottom:24px;
  min-height:8px;
  min-width:36px;
  z-index:1;
  overflow:visible;
}

#img1 {
  float:left;
}

