body {
	color: #000000;
	font: 12px/1.5em Verdana, Geneva, sans-serif;
}
p {
	font-size: 12px;
	line-height: 1.5em;
}
td {
	font-size: 12px;
	line-height: 1.5em;
}
.menu {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333333;
	font-size: 12px;
	font-weight: bold;
}
.menu ul {
	list-style-position: outside;
	list-style-image: url(images/bullet.gif);
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	margin: 0px;
}
.menu li {
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.menu a:link {
	color: #0099CC;
	text-decoration: none;
}
.menu a:visited {
	color: #0099CC;
	text-decoration: none;
}
.menu a:active {
	color: #0099CC;
	text-decoration: none;
}
.menu a:hover {
	color: #000000;
	text-decoration: underline;
}
.content {
	color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333333;
}
.content h1 {
	font-size: 24px;
	font-weight: bold;
	color: #0099CC;
}
.content h2 {
	font-size: 18px;
	font-weight: bold;
	color: #0099CC;
}
.content h3 {
	font-size: 14px;
	font-weight: bold;
	color: #0099CC;
}
.footer {
	font-size: 10px;
	color: #000000;
	text-decoration: none;
}
.codeExample {
	font-family: "Courier New", Courier, mono;
	font-size: 14px;
	color: #000000;
	font-weight: bold;
}
.remark {
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
	border: 1px dotted #333333;
	margin-left: 20px;
}
.remarkHeading {
	font-weight: bold;
	color: #FE9833;
}
.content a:link {
	color: #0099CC;
	text-decoration: underline;
	font-weight: bold;
}
.content a:visited {
	color: #0099CC;
	text-decoration: underline;
	font-weight: bold;
}
.content a:active {
	color: #0099CC;
	text-decoration: underline;
	font-weight: bold;
}
.content a:hover {
	color: #000033;
	text-decoration: underline;
	font-weight: bold;
}
em {
	font-style: normal;
	font-weight: bold;
	color: #333333;
}
.emsource {
	font-weight: bold;
	color: #990000;
}
.content {
	font-size: 12px;
}
.content li {
	font-size: 12px;
}
.importantHeading {
	font-weight: bold;
	color: #CC3300;
	font-size: 18px;
}
.small {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #000000;
}
.pictureText {
	font-size: 10px;
}
.textbg {
	background-color: #CCCCCC;
}
.content h4 {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}
.bulletImage {
	vertical-align: top;
}
.elementCodeHeading {
	font-size: 12px;
	font-style: italic;
}
.elementCode {
	font-family: "Courier New", Courier, mono;
	font-size: 12px;
	font-weight: bold;
	padding: 10px;
	border: 1px dashed black;
}
#elementCodeDetails {
	background-color: #e5f7ff;
	padding: 10px;
	display: none;
}
.elementCodeLink {
	font: bold 10px Verdana, sans-serif;
	background-color: #3394cd;
	padding: 1px 5px 2px;
}
.elementCodeLink a:link {
	text-decoration: none;
	color: white;
}
.elementCodeLink a:visited {
	text-decoration: none;
	color: white;
}
.elementCodeLink a:active {
	text-decoration: none;
	color: white;
}
.elementCodeLink a:hover {
	text-decoration: none;
	color: black;
}
.smallRemark {
	font-size: 10px;
	font-style: italic;
	padding: 4px 10px;
}
.javaScriptWarning {
	background-color: #FF8888;
	padding: 10px;
}

table.description {
	margin-left:  20px;
}

table.description td {
	text-align: left;
	vertical-align: top;
	padding: 6px;
}

.codeExample a:link, .codeExample a:visited {
	text-decoration: none;
}
