/* Heading tag containing the page heading */
.WebYepPageHeading {
	font-size: 2em;
	padding: 0;
	margin-top: 0;
	margin-bottom: 1em;
}

/* Heading tag containing the block heading */
.WebYepBlockHeading {
	font-size: 1.5em;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0.5em;
}

/* div tag around left photo */
.WebYepLeftPhoto {
	padding: 10px;
	border: 1px dotted black;
}

/* div tag around right photo */
.WebYepRightPhoto {
	padding: 10px;
	border: 1px dotted black;
}

/* The editable text */
.WebYepText {
}

/* Paragraph containing the WYAttachment element */
.WebYepAttachment {
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	margin: 1em;
	padding: 0.5em;
}

/* The descriptive text for the attachment */
.WebYepAttachmentDescription {
}

/* The filename of the attachment, containing the link */
.WebYepAttachmentFilename {
	padding: 4px;
}

/* div tag around center photo */
.WebYepCenterPhoto {
}

/* Spacer div after each block */
.WebYepBlockPadding {
}

/* designing tables inside the editable text */
/* tables can be created with the "|" character */
.WebYepText table {
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
}
.WebYepText td {
	margin: 0px;
	padding: 6px;
	border: 1px solid black;
}

/* example custom text style */
.WebYepText .EXAMPLE {
	font-weight: bold;
	color: #bc0000;
}


/* image gallery */

table.WebYepGalleryContainer {
	margin-top: 2em;
	margin-bottom: 2em;
	border-collapse: collapse;
}

table.WebYepGalleryContainer tr {
}

table.WebYepGalleryContainer tr.WebYepGalleryFirstRow {
}

table.WebYepGalleryContainer td {
	text-align: center;
	vertical-align: top;
	border: 1px solid grey;
	padding: 10px;
}

table.WebYepGalleryContainer td.WebYepGalleryFirstColumn {
}

.WebYepGalleryImage img {
	border-left: 1px solid grey;
	border-top: 1px solid grey;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

.WebYepGalleryText {
	margin-top: 1em;
	font-size: 0.8em;
}

/* sidebar menu */

/* The div enclosing the menu */
.WebYepMenu {
}

/* The tree titles */
.WebYepMenu li.WebYepMenuTitle {
	font-weight: bold;
}

/* Normal items */
.WebYepMenu li.WebYepMenuItem {
	font-weight: normal;
}

/* All trees */
.WebYepMenu ul {
	padding: 0px;
}

/* All items */
.WebYepMenu ul li {
	list-style-position: inside;
	list-style-type: none;
	font-size: 1em;
	margin: 0px 0px 5px 0px;
	padding: 0px;
	line-height: 1.2em;
}

/* Second level trees */
.WebYepMenu ul ul {
	margin-bottom: 10px;
}

/* Second level items */
.WebYepMenu ul ul li {
	font-size: 0.9em;
	margin: 5px 0px 0px 1em;
	padding: 0px;
}

/* Trees of third level and below */
.WebYepMenu ul ul ul {
   font-size: 0.8em;
}

/* Items of third level and below */
.WebYepMenu ul ul ul li {
	font-size: 0.8em;
	margin-left: 2em;
}

/* The first item in each submenu */
.WebYepMenu li li.WebYepMenuFirstItem {
}

/* The actual links */
.WebYepMenu a:link, .WebYepMenu a:visited, .WebYepMenu a:active {
	text-decoration: none;
}

/* The actual links when hovering */
.WebYepMenu a:hover {
}

/* The actual link of the currently selected item */
.WebYepMenu a:link.WebYepMenuCurrentItem, .WebYepMenu a:visited.WebYepMenuCurrentItem, .WebYepMenu a:active.WebYepMenuCurrentItem {
	text-decoration: none;
	color: #7e7e7e;
}

/* The actual link of the currently selected item when hovering */
.WebYepMenu a:hover.WebYepMenuCurrentItem {
	color: #7e7e7e;
}
